*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
}
.btn-primary{
    padding: 15px 20px;
    background-color: #E6533C;
    border: none;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
.btn-secondary{
    padding: 15px 20px;
    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
/* header start */
header{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    font-size: 35px;
    color: #E6533C;
    font-style: italic;
}
.nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 20px;
}
.nav ul li{
    font-size: 20px;
    color: rgb(221, 220, 220);
    font-weight: 500;
    padding: 10px 15px;
}
.active{
    background-color: #E6533C;
    border: none;
    border-radius: 18px;
}
.bar{
    display: none;
}
.bar i{
    font-size: 20px;
}
/* header responsive */
@media screen and (max-width: 576px){
.nav ul{
    display: none;
}
.bar{
    display: block;
}
}

/* banner section started */
.main{
    width: 80%;
    margin: 50px auto;
}
.banner{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.banner-title{
    font-size: 70px;
    padding-right: 300px;
}
.banner-description{
    font-size: 18px;
    margin: 20px 0px;
    padding-right: 320px;
    color: rgb(172, 173, 173);
}
.banner-content-btn{
    display: flex;
    gap: 30px;
}
.banner-img{
    position: relative;
}
.box-1{
    position: absolute;
    top: 170px;
    right: -20px;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.244);
    border-radius: 15px;
}
.box-2{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 100px;
    left: -50px;
    padding: 15px 20px;
    background-color: rgba(78, 77, 77, 0.542);
    border-radius: 15px;
}
.box-1 h3{
    font-size: 30px;
    font-weight: 800;
}
.box-2 h3{
    font-size: 25px;
    font-weight: 800;
}
.c-box{
    background-color: #E6533C;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
/* banner section responsive */
@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column;
        gap: 30px;
    }
    .banner-title{
        font-size: 50px;
        padding-right: 20px;
    }
    .banner-description{
        padding-right: 20px;
    }
    .btn-primary, .btn-secondary{
        font-size: 20px;
    }
}

/* habit section start */
.habit{
    text-align: center;
    margin-top: 80px;
}
.habit-title{
    font-size: 50px;
}
.habit-description{
    margin: 15px 280px;
    font-size: 18px;
    color: rgb(172, 173, 173);
}
.habit-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}
.habit-img-box img{
    border-radius: 100%;
}
.habit-img-box h4{
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: rgb(172, 173, 173);
}
.habit-img-box p{
    text-align: center;
    font-size: 16px;
    color: rgb(172, 173, 173);
}
@media screen and (max-width:576px) {
    .habit-title{
        font-size: 35px;
    }
    .habit-description{
        margin: 15px 0px;
        font-size: 18px;
    }
    .habit-img{
        flex-direction: column;
    }
}

/* run section start */
.run{
    margin-top: 100px;
    padding: 30px;
    background-color: rgba(190, 190, 190, 0.159);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.run-title{
    font-size: 50px;
    padding-right: 300px;
}
.run-description{
    font-size: 18px;
    color: rgb(172, 173, 173);
    padding-right:300px ;
    margin: 15px 0px;
}
.run-img img{
    width: 400px;
    border-radius: 20px;
}
@media screen and (max-width:576px) {
    .run{
        flex-direction: column;
        gap: 50px;
    }
    .run-title{
        font-size: 30px;
        padding: 0px;
    }
    .run-description{
        padding-right: 0px;
    }
    .run-img img{
        width: 300px;
    }
}

/* bmi calculator section start */
.bmi-calculator{
    margin-top: 80px;
    text-align: center;
}
.bmi-calculator-title{
    font-size: 50px;
}
.bmi-calculator-description{
    font-size: 18px;
    margin: 10px 0px;
    padding:0px 300px;
}
.bmi-box{
    margin: 50px auto;
    padding: 60px;
    background-color: rgba(84, 84, 84, 0.304);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bmi-table h3{
    font-size: 30px;
}
.bmi-table table{
    border-color: rgb(172, 173, 173);
    margin-top: 30px;
    width: 400px;
    height: 300px;
    border-collapse: collapse;
}
.bmi-table table td{
    color: rgb(172, 173, 173);
}
.bmi-form h3{
    font-size: 30px;
}
.bmi-form p{
    font-size: 16px;
    color: rgb(172, 173, 173);
    width: 500px;
    margin: 15px 0px;
}
.bmi-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.bmi-form input,select{
    padding: 15px 20px;
    font-size: 18px;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color:rgba(84, 84, 84, 0.43) ;
    color: rgb(172, 173, 173);
}
.bmi-form input::placeholder{
    color: rgb(172, 173, 173);
}
#cars{
    grid-column: 1 / span 2;
}
@media screen and (max-width:576px) {
    .bmi-calculator-title{
        font-size: 40px;
    }
    .bmi-calculator-description{
        padding:0px 10px;
    }
    .bmi-box{
        flex-direction: column;
        gap: 30px;
    }
    .bmi-table table{
        width: 300px;
    }
    .bmi-form p{
        width: 100%;
    }
    .bmi-form form{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    #cars{
        grid-column: 1;
    }
}

/* team section start */
.team{
    text-align: center;
    margin-top: 70px;
}
.team-title{
    font-size: 50px;
}
.team-description{
    font-size: 18px;
    color: rgb(172, 173, 173);
    margin: 10px;
    padding: 0px 250px;
}
.team-box{
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(78, 77, 77, 0.373);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.trainer-img{
    position: relative;
}
.trainer-img img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    opacity: 0.7;
}
.trainer-img p{
    position: absolute;
    bottom: 50px;
    left: 30px;
    font-size: 18px;
    font-weight: 700;
}
@media screen and (max-width:576px) {
    .team-title{
        font-size: 40px;
    }
    .team-description{
        padding: 0px;
    }
    .team-box{
        grid-template-columns: 1fr;
    }
}

/* membership section start */
.membership{
    margin-top: 70px;
}
.membership-title{
    font-size: 50px;
    text-align: center;
}
.card-container{
    margin-top: 40px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-container h3{
    background-color: #E6533C;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    text-transform: uppercase;
}
.card-container h5{
    text-align: center;
    color: black;
    font-size: 20px;
}
.card-container p{
    text-align: center;
    color: rgb(69, 69, 69);
    font-size: 18px;
}
.card-container span{
    font-size: 60px;
    font-weight: bold;
    color: #ff3011;
}
.card-container button{
    font-size: 24px;
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 15px;
    border: 2px solid #ff3011;
    background-color: white;
    margin-top: 30px;
    cursor: pointer;
}
.card-container button:hover{
    background-color: #ff3011;
    color: white;
    border: 2px solid #ff3011;
    transition: all 0.5s;
}
.membership-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
@media screen and (max-width:576px) {
    .membership-title{
        font-size: 40px;
    }
    .membership-card{
        grid-template-columns: 1fr;
        gap: 20px;
    }

}

/* footer section start */
footer{
    margin-top: 80px;
    background-color: rgba(70, 70, 70, 0.31);
    padding: 70px;
}
.footer-container{
    width: 80%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.logo p{
    margin-top: 15px;
    font-size: 18px;
    color: rgb(172, 173, 173);
}
.service{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.service p{
    font-size: 18px;
    color: rgb(172, 173, 173);
}
.hori{
    width: 80%;
    margin: 50px auto;
    border: 1px solid rgba(172, 173, 173, 0.5);
}
.copy{
    font-size: 16px;
    color: rgb(172, 173, 173);
    text-align: center;
}
@media screen and (max-width:576px) {
    .footer-container{
        grid-template-columns: 1fr;
    }
}